

/*
 *  matteosister <matteog@gmail.com>
 *  Just for fun...
 */


ul.ui-autocomplete li {
    list-style-type: none;
}

.ui-autocomplete-loading { 
    background: white url('/sfPropelORMTaggableBehaviorPlugin/images/ui-anim_basic_16x16.gif') right center no-repeat;
}

a.tag-delete {
    background: url('/sfPropelORMTaggableBehaviorPlugin/images/delete.png') no-repeat left !important;
    margin-right: 1em;
    color: #333;
    outline: none;
}

a.tag-delete:hover {
    text-shadow: 0px 0px 10px #999999;
    filter: dropshadow(color=#999999, offx=0, offy=0);
    text-decoration: none !important;
}

ul#sfPropelORMTaggablePlugin {
    margin: .5em 0 .7em !important;
}